* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #000915;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

img {
  max-width: 100%;
}

.top {
  height: 1024px;
  background-image: url(img/topback.jpg);
  background-position: center;
  background-position: no-repeat;
  background-size: cover;
}
.top__content {
  padding-top: 217px;
}
.top__title {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  padding-bottom: 16px;
  color: #FFFFFF;
}
.top__text {
  width: 481px;
  word-break: normal;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  padding-bottom: 44px;
}

.button {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 13px 74px;
  align-items: center;
  color: #FFFFFF;
  background: #9C0332;
  border-radius: 30px;
  text-decoration-line: none;
  font-family: "Montserrat", sans-serif;
}
.button:hover {
  background: #EB443F;
}
.button:hover {
  cursor: url(./img/Vector.svg), pointer;
}

.game-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 32px;
  padding-top: 128px;
  padding-bottom: 128px;
}

.game {
  width: 378px;
  min-height: 300px;
  border-radius: 16px;
  background-position: center;
  background-repeat: no-repeat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  text-decoration-line: none;
  display: flex;
  box-sizing: border-box;
  align-items: flex-end;
}
.game:hover {
  border: 3px solid #44D2FF;
}
.game:hover:hover {
  cursor: url(./img/Vector.svg), pointer;
}
.game__1 {
  background-image: url(img/game1.jpg);
}
.game__2 {
  background-image: url(img/game2.jpg);
}
.game__3 {
  background-image: url(img/game3.jpg);
}
.game__text {
  padding-top: 236px;
  padding-left: 32px;
  padding-bottom: 32px;
}

.playGame {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 282px;
  padding-bottom: 282px;
}
.playGame__content {
  width: 584px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.playGame__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
  padding-bottom: 32px;
}
.playGame__text {
  width: 584px;
  word-break: normal;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding-bottom: 32px;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    background-size: 1070px 750px;
    background-position: -220px -13px;
    background-position: no-repeat;
    height: 735px;
  }
  .top__content {
    align-items: center;
    padding-top: 238px;
    display: flex;
    flex-direction: column;
  }
  .top__title {
    width: 343px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .top__text {
    width: 343px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .button {
    margin-left: 70px;
    margin-right: 70px;
  }
  .game {
    width: 343px;
    height: 300px;
  }
  .game__text {
    padding-left: 14px;
  }
  .playGame {
    gap: 64px;
    padding-bottom: 85px;
    padding-top: 51px;
  }
  .playGame__content {
    align-items: center;
  }
  .playGame__title {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .playGame__text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    width: 343px;
  }
  .game2 {
    display: flex;
    flex-wrap: wrap-reverse;
  }
}/*# sourceMappingURL=style.css.map */